<p><strong><%= user.name %></strong>, sinu konto on loodud!</p>

<p><small>Said selle kirja, kuna keegi (loodetavasti sina), registreeris sinu e-posti aadressi kasutades uue konto addressil <a href="https://<%= hostname %>"><%= hostname %></a></small></p>
