<p><strong><%= user.name %></strong>, sinu uus parool on <code><%= password %></code></p>

<p>Soovitav oleks uus parool peale <a href="https://<%= hostname %>/profile">sisse logimist</a> kohe ära vahetada.</p>
