<form action="/reset-password" method="post">

    <h3>Genereeri uus parool</h3>

    <p>Uue parooli genereerimiseks <strong><%= email %></strong> aadressile, kliki all olevale nupule.</p>

    <input type="hidden" name="email" value="<%= email %>" />
    <input type="hidden" name="resetToken" value="<%= resetToken %>" />

    <button type="submit" class="btn">Saada uus parool minu e-posti aadressile</button>
</form>
