<form action="/reset-link" method="post">

    <h3>Genereeri uus parool</h3>

    <div class="control-group">
        <label class="control-label" for="email">Sinu e-posti aadress</label>
        <div class="controls">
           <input class="span3" type="email" name="email" id="email" value="<%= email %>" required/>
        </div>
    </div>

    <button type="submit" class="btn">Genereeri uus parool</button>
</form>
